.certificate {
  height: 350px;
}

.certificate img {
  margin-top: 4cm;
  height: 500px;
  width: 600px;
  padding: 1rem;
}

.certificate img:hover {
  height: 700px;
  width: 800px;
  border-radius: 80px;
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  .certificate {
    height: 2659px;
  }

  .certificate label img {
    margin-top: 4cm;
    height: 1240px;
    width: 1440px;
    padding: 1rem;
    border-radius: 120px;
  }

  .certificate img {
    margin-top: 0.5cm;
    height: 1240px;
    width: 1440px;
    padding: 1rem;
    border-radius: 120px;
  }

  .certificate img:hover {
    margin-top: 0.5cm;
    height: 1000px;
    width: 1200px;
    padding: 1rem;
    border-radius: 120px;
  }

  .certificate label img:hover {
    margin-top: 1cm;
    height: 1000px;
    width: 1200px;
    padding: 1rem;
    border-radius: 120px;
  }
}
