.copyright {
  text-align: center;
  font-weight: 300;
  color: black;
  background-color: white;
  height: 10rem;
  display: flex;
}

.copyright label {
  font-weight: 500;
}

.copyright p {
  padding: 2rem;
  margin-top: 1rem;
  align-items: center;
  color: blue;
  font-weight: 300;
}

.copyright p img {
  height: 17px;
  width: 27px;
  border-radius: 5px;
}

.copyright p g img {
  height: 17px;
  width: 20px;
  border-radius: 5px;
}

.copyright p i img {
  height: 15px;
  width: 18px;
  border-radius: 5px;
}

@media only screen and (max-width: 450px) {
  .copyright {
    width: 100rem;
    padding-top: 3rem;
    text-align: center;
  }
}
