.details {
  padding-top: 8rem;
  padding-left: 0.5rem;
  height: 100rem;
}

.details h1 {
  font-family: cursive;
}

.details marquee {
  font-family: cursive;
  color: white;
}

.details h3 p {
  color: white;
  font-size: 120%;
  font-family: 'Times New Roman', Times, serif ;;
}

.details h3 u {
  color: blue;
  font-weight: 300;
  cursor: pointer;
}

.details img {
  background: white;
  padding: 0.2rem;
  border-radius: 12px;
  margin-left: 0.5rem;
}

@media only screen and (max-width: 450px) {
  .details img {
    background: white;
    padding: 0.2rem;
    margin-left: 1cm;
    border-radius: 12px;
    height: 14cm;
  }

  .details h3 {
    color: white;
    font-size: 150%;
    font-weight: 100;
    width: 360%;
    height: 107.7rem;
  }
}
