.project h1 {
  padding-top: 20%;
  color: white;
  font-family: cursive;
  text-align: center;
}

@media only screen and (max-width: 450px) {
  .project {
    height: 2600px;
  }

  .project h1 {
    padding-top: 12rem;
    width: 400%;
    text-align: center;
    font-size: 350%;
    height: 100vh;
  }
}
